<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d3a7160846fa48e3b988dba3d028e478 {
                    position: relative;
                    width: 75.0%;
                    height: 50.0%;
                    left: 12.5%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d3a7160846fa48e3b988dba3d028e478" ></div>
        
</body>
<script>    
    
            var map_d3a7160846fa48e3b988dba3d028e478 = L.map(
                "map_d3a7160846fa48e3b988dba3d028e478",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_09a58c3cd26149fd96643e3a3f752d16 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
            var marker_ffcf353ce69c49baafd65b51e5a1a6f7 = L.marker(
                [63.588753, -154.493062],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_1c0e4db710f6426f82846e5b00413e2b = L.popup({"maxWidth": 2650});

        
            var html_5a8bbf6947ed47cbb2864f96df4288ea = $(`<div id="html_5a8bbf6947ed47cbb2864f96df4288ea" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_1c0e4db710f6426f82846e5b00413e2b.setContent(html_5a8bbf6947ed47cbb2864f96df4288ea);
        

        marker_ffcf353ce69c49baafd65b51e5a1a6f7.bindPopup(popup_1c0e4db710f6426f82846e5b00413e2b)
        ;

        
    
    
            marker_ffcf353ce69c49baafd65b51e5a1a6f7.bindTooltip(
                `<div>
                     Alaska
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_919750c3a57c4b7691926db2d7dcce9e = L.marker(
                [32.318231, -86.902298],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_d6c81fa10e3646f6acfd70720c1d2a72 = L.popup({"maxWidth": 2650});

        
            var html_62b7159084e3411f838ac1ecded17529 = $(`<div id="html_62b7159084e3411f838ac1ecded17529" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_d6c81fa10e3646f6acfd70720c1d2a72.setContent(html_62b7159084e3411f838ac1ecded17529);
        

        marker_919750c3a57c4b7691926db2d7dcce9e.bindPopup(popup_d6c81fa10e3646f6acfd70720c1d2a72)
        ;

        
    
    
            marker_919750c3a57c4b7691926db2d7dcce9e.bindTooltip(
                `<div>
                     Alabama
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ead6d5cd7fc1411c9c5fd8391d934943 = L.marker(
                [35.20105, -91.831833],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_c5005c6f1f414f86bc6b90a0e6fb92ad = L.popup({"maxWidth": 2650});

        
            var html_ab31dc7eb19c45cb98585a111e44f37d = $(`<div id="html_ab31dc7eb19c45cb98585a111e44f37d" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_c5005c6f1f414f86bc6b90a0e6fb92ad.setContent(html_ab31dc7eb19c45cb98585a111e44f37d);
        

        marker_ead6d5cd7fc1411c9c5fd8391d934943.bindPopup(popup_c5005c6f1f414f86bc6b90a0e6fb92ad)
        ;

        
    
    
            marker_ead6d5cd7fc1411c9c5fd8391d934943.bindTooltip(
                `<div>
                     Arkansas
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a8ee3303b9634a8eb6094d8fb13abd2a = L.marker(
                [34.048928, -111.093731],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_6d86c70be665436c906462eb2cfebe1d = L.popup({"maxWidth": 2650});

        
            var html_a839078d84d040a3930b46d76a1bbeda = $(`<div id="html_a839078d84d040a3930b46d76a1bbeda" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_6d86c70be665436c906462eb2cfebe1d.setContent(html_a839078d84d040a3930b46d76a1bbeda);
        

        marker_a8ee3303b9634a8eb6094d8fb13abd2a.bindPopup(popup_6d86c70be665436c906462eb2cfebe1d)
        ;

        
    
    
            marker_a8ee3303b9634a8eb6094d8fb13abd2a.bindTooltip(
                `<div>
                     Arizona
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4921bc08e81e4e899025f8dfe5e75f1e = L.marker(
                [36.778261, -119.417932],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_1f0e622288724dfea5ca92412448f798 = L.popup({"maxWidth": 2650});

        
            var html_96383bd3426840698d5da4711ccfa9a8 = $(`<div id="html_96383bd3426840698d5da4711ccfa9a8" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_1f0e622288724dfea5ca92412448f798.setContent(html_96383bd3426840698d5da4711ccfa9a8);
        

        marker_4921bc08e81e4e899025f8dfe5e75f1e.bindPopup(popup_1f0e622288724dfea5ca92412448f798)
        ;

        
    
    
            marker_4921bc08e81e4e899025f8dfe5e75f1e.bindTooltip(
                `<div>
                     California
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_84e574bdaf2c402a86d5777378247596 = L.marker(
                [39.550051, -105.782067],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_acddc322d68448d3bb5765f2aa9436bb = L.popup({"maxWidth": 2650});

        
            var html_096eaf73a85949f78bee4533aba4ec26 = $(`<div id="html_096eaf73a85949f78bee4533aba4ec26" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_acddc322d68448d3bb5765f2aa9436bb.setContent(html_096eaf73a85949f78bee4533aba4ec26);
        

        marker_84e574bdaf2c402a86d5777378247596.bindPopup(popup_acddc322d68448d3bb5765f2aa9436bb)
        ;

        
    
    
            marker_84e574bdaf2c402a86d5777378247596.bindTooltip(
                `<div>
                     Colorado
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9cdc1b6995314e9db987bc056af15fb0 = L.marker(
                [41.603221, -73.087749],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_fb423680be854f19b575418f25b1a7a8 = L.popup({"maxWidth": 2650});

        
            var html_a417b423c8d644dbb2385e3eda4e77a5 = $(`<div id="html_a417b423c8d644dbb2385e3eda4e77a5" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_fb423680be854f19b575418f25b1a7a8.setContent(html_a417b423c8d644dbb2385e3eda4e77a5);
        

        marker_9cdc1b6995314e9db987bc056af15fb0.bindPopup(popup_fb423680be854f19b575418f25b1a7a8)
        ;

        
    
    
            marker_9cdc1b6995314e9db987bc056af15fb0.bindTooltip(
                `<div>
                     Connecticut
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_17f5420d465f45a987b38f7349acf780 = L.marker(
                [38.905985, -77.033418],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_227e553889224a2daed77ce5380a8cc9 = L.popup({"maxWidth": 2650});

        
            var html_a5e0542cfdb3447abbf2a716f107430b = $(`<div id="html_a5e0542cfdb3447abbf2a716f107430b" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_227e553889224a2daed77ce5380a8cc9.setContent(html_a5e0542cfdb3447abbf2a716f107430b);
        

        marker_17f5420d465f45a987b38f7349acf780.bindPopup(popup_227e553889224a2daed77ce5380a8cc9)
        ;

        
    
    
            marker_17f5420d465f45a987b38f7349acf780.bindTooltip(
                `<div>
                     District of Columbia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_11ed950c8cd6406893d3143b50a05c4d = L.marker(
                [38.910832, -75.52767],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_df77888bd60944bb852a489f241afe72 = L.popup({"maxWidth": 2650});

        
            var html_2d3abdb1381040e7ba9b5bf3a0a58108 = $(`<div id="html_2d3abdb1381040e7ba9b5bf3a0a58108" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_df77888bd60944bb852a489f241afe72.setContent(html_2d3abdb1381040e7ba9b5bf3a0a58108);
        

        marker_11ed950c8cd6406893d3143b50a05c4d.bindPopup(popup_df77888bd60944bb852a489f241afe72)
        ;

        
    
    
            marker_11ed950c8cd6406893d3143b50a05c4d.bindTooltip(
                `<div>
                     Delaware
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5711dec93076466290d092cc8c075a7e = L.marker(
                [27.664827, -81.515754],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_a57036e226504d9ea6d8d0f17327f9b7 = L.popup({"maxWidth": 2650});

        
            var html_e5bacf80b64a4bffbbf35c0c41573b20 = $(`<div id="html_e5bacf80b64a4bffbbf35c0c41573b20" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_a57036e226504d9ea6d8d0f17327f9b7.setContent(html_e5bacf80b64a4bffbbf35c0c41573b20);
        

        marker_5711dec93076466290d092cc8c075a7e.bindPopup(popup_a57036e226504d9ea6d8d0f17327f9b7)
        ;

        
    
    
            marker_5711dec93076466290d092cc8c075a7e.bindTooltip(
                `<div>
                     Florida
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_577d5296b92148409baf6f077cef41c7 = L.marker(
                [32.157435, -82.907123],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_49de4b82edb74545a607f7b3fb80aee9 = L.popup({"maxWidth": 2650});

        
            var html_5ce45cef54514c20a62c99046304afb5 = $(`<div id="html_5ce45cef54514c20a62c99046304afb5" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_49de4b82edb74545a607f7b3fb80aee9.setContent(html_5ce45cef54514c20a62c99046304afb5);
        

        marker_577d5296b92148409baf6f077cef41c7.bindPopup(popup_49de4b82edb74545a607f7b3fb80aee9)
        ;

        
    
    
            marker_577d5296b92148409baf6f077cef41c7.bindTooltip(
                `<div>
                     Georgia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_983a43b80a874d53b83220a14e31df50 = L.marker(
                [19.898682, -155.665857],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_a3d96909f5ab461c8356394c3ee692c4 = L.popup({"maxWidth": 2650});

        
            var html_faaec1136f3747989121bb53358a447e = $(`<div id="html_faaec1136f3747989121bb53358a447e" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_a3d96909f5ab461c8356394c3ee692c4.setContent(html_faaec1136f3747989121bb53358a447e);
        

        marker_983a43b80a874d53b83220a14e31df50.bindPopup(popup_a3d96909f5ab461c8356394c3ee692c4)
        ;

        
    
    
            marker_983a43b80a874d53b83220a14e31df50.bindTooltip(
                `<div>
                     Hawaii
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e855456a96548829e9b6a8c33f329df = L.marker(
                [41.878003, -93.097702],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_0ae16eac23ca49e2af4604a173446bed = L.popup({"maxWidth": 2650});

        
            var html_a505292d77334e12aaab1c43a896d44a = $(`<div id="html_a505292d77334e12aaab1c43a896d44a" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_0ae16eac23ca49e2af4604a173446bed.setContent(html_a505292d77334e12aaab1c43a896d44a);
        

        marker_2e855456a96548829e9b6a8c33f329df.bindPopup(popup_0ae16eac23ca49e2af4604a173446bed)
        ;

        
    
    
            marker_2e855456a96548829e9b6a8c33f329df.bindTooltip(
                `<div>
                     Iowa
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c0e8f9afdf4849b4972db3e2afd8cd0d = L.marker(
                [44.068202, -114.742041],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_1a78cec3096e4c799253b6fb80392b17 = L.popup({"maxWidth": 2650});

        
            var html_e92432eb72e140a0b9e1bde459033513 = $(`<div id="html_e92432eb72e140a0b9e1bde459033513" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_1a78cec3096e4c799253b6fb80392b17.setContent(html_e92432eb72e140a0b9e1bde459033513);
        

        marker_c0e8f9afdf4849b4972db3e2afd8cd0d.bindPopup(popup_1a78cec3096e4c799253b6fb80392b17)
        ;

        
    
    
            marker_c0e8f9afdf4849b4972db3e2afd8cd0d.bindTooltip(
                `<div>
                     Idaho
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_224d9df3646a468bbf115a2f470bb9c6 = L.marker(
                [40.633125, -89.398528],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_0fb1f9fed9a4429a967c304fc1fc4047 = L.popup({"maxWidth": 2650});

        
            var html_d463a0133f564523b84c27ad4ff34417 = $(`<div id="html_d463a0133f564523b84c27ad4ff34417" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_0fb1f9fed9a4429a967c304fc1fc4047.setContent(html_d463a0133f564523b84c27ad4ff34417);
        

        marker_224d9df3646a468bbf115a2f470bb9c6.bindPopup(popup_0fb1f9fed9a4429a967c304fc1fc4047)
        ;

        
    
    
            marker_224d9df3646a468bbf115a2f470bb9c6.bindTooltip(
                `<div>
                     Illinois
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2f459fdc8bdb416c8dd400e8122758bc = L.marker(
                [40.551217, -85.602364],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_d6f480371f984abcbecadc6cf6efcd32 = L.popup({"maxWidth": 2650});

        
            var html_ed272af7303f407d9d18cd4d937a3c2d = $(`<div id="html_ed272af7303f407d9d18cd4d937a3c2d" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_d6f480371f984abcbecadc6cf6efcd32.setContent(html_ed272af7303f407d9d18cd4d937a3c2d);
        

        marker_2f459fdc8bdb416c8dd400e8122758bc.bindPopup(popup_d6f480371f984abcbecadc6cf6efcd32)
        ;

        
    
    
            marker_2f459fdc8bdb416c8dd400e8122758bc.bindTooltip(
                `<div>
                     Indiana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e702c1c765854379bd44841e3b7bc39d = L.marker(
                [39.011902, -98.484246],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_1720126f2ec04070b32b4622098ab605 = L.popup({"maxWidth": 2650});

        
            var html_0e4cf9b5e4b14c15bf7c706e57cdf82c = $(`<div id="html_0e4cf9b5e4b14c15bf7c706e57cdf82c" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_1720126f2ec04070b32b4622098ab605.setContent(html_0e4cf9b5e4b14c15bf7c706e57cdf82c);
        

        marker_e702c1c765854379bd44841e3b7bc39d.bindPopup(popup_1720126f2ec04070b32b4622098ab605)
        ;

        
    
    
            marker_e702c1c765854379bd44841e3b7bc39d.bindTooltip(
                `<div>
                     Kansas
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_13bf0840d1984cc38700fd948cf574ae = L.marker(
                [37.839333, -84.270018],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_94aafff4e2e34ef8838187bef1b91493 = L.popup({"maxWidth": 2650});

        
            var html_68f14ee8d6a741c29aaa7f4c390f0671 = $(`<div id="html_68f14ee8d6a741c29aaa7f4c390f0671" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_94aafff4e2e34ef8838187bef1b91493.setContent(html_68f14ee8d6a741c29aaa7f4c390f0671);
        

        marker_13bf0840d1984cc38700fd948cf574ae.bindPopup(popup_94aafff4e2e34ef8838187bef1b91493)
        ;

        
    
    
            marker_13bf0840d1984cc38700fd948cf574ae.bindTooltip(
                `<div>
                     Kentucky
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2a691e0bdfbb42e5ae9b833856d07dd2 = L.marker(
                [31.244823, -92.145024],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_969d6937b3b94558a37f44ace7e89fc5 = L.popup({"maxWidth": 2650});

        
            var html_2077df7ff8bf43ec9f5c89a02d7953af = $(`<div id="html_2077df7ff8bf43ec9f5c89a02d7953af" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_969d6937b3b94558a37f44ace7e89fc5.setContent(html_2077df7ff8bf43ec9f5c89a02d7953af);
        

        marker_2a691e0bdfbb42e5ae9b833856d07dd2.bindPopup(popup_969d6937b3b94558a37f44ace7e89fc5)
        ;

        
    
    
            marker_2a691e0bdfbb42e5ae9b833856d07dd2.bindTooltip(
                `<div>
                     Louisiana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5da6fa5786b045fa9706ff4a7208762d = L.marker(
                [42.407211, -71.382437],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_d002cfd53955472e9d6d011801fa5e12 = L.popup({"maxWidth": 2650});

        
            var html_5ba4e467a6a848bfbe2a82f1f1077cde = $(`<div id="html_5ba4e467a6a848bfbe2a82f1f1077cde" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_d002cfd53955472e9d6d011801fa5e12.setContent(html_5ba4e467a6a848bfbe2a82f1f1077cde);
        

        marker_5da6fa5786b045fa9706ff4a7208762d.bindPopup(popup_d002cfd53955472e9d6d011801fa5e12)
        ;

        
    
    
            marker_5da6fa5786b045fa9706ff4a7208762d.bindTooltip(
                `<div>
                     Massachusetts
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4717cac9a1794f98b71d8c96093ec054 = L.marker(
                [39.045755, -76.641271],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_79e00d222e024d80823d6fa6106a1a04 = L.popup({"maxWidth": 2650});

        
            var html_c9f93d2f0e1d4ef595367283696e8aad = $(`<div id="html_c9f93d2f0e1d4ef595367283696e8aad" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_79e00d222e024d80823d6fa6106a1a04.setContent(html_c9f93d2f0e1d4ef595367283696e8aad);
        

        marker_4717cac9a1794f98b71d8c96093ec054.bindPopup(popup_79e00d222e024d80823d6fa6106a1a04)
        ;

        
    
    
            marker_4717cac9a1794f98b71d8c96093ec054.bindTooltip(
                `<div>
                     Maryland
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_21b9f94bd9ee4d1ea669b87dd869e1c3 = L.marker(
                [45.253783, -69.445469],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_785927ef437c404e8983ba61b6a0b556 = L.popup({"maxWidth": 2650});

        
            var html_cdc3c954bd604ca3abd386391dfaefd2 = $(`<div id="html_cdc3c954bd604ca3abd386391dfaefd2" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_785927ef437c404e8983ba61b6a0b556.setContent(html_cdc3c954bd604ca3abd386391dfaefd2);
        

        marker_21b9f94bd9ee4d1ea669b87dd869e1c3.bindPopup(popup_785927ef437c404e8983ba61b6a0b556)
        ;

        
    
    
            marker_21b9f94bd9ee4d1ea669b87dd869e1c3.bindTooltip(
                `<div>
                     Maine
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b7058c0af55c4cc3b5c9ddea92517d81 = L.marker(
                [44.314844, -85.602364],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_24eba3e45baf41ec9cbfd6dd7649f53e = L.popup({"maxWidth": 2650});

        
            var html_f0349eea86a6492ea9c6b3e64a455c55 = $(`<div id="html_f0349eea86a6492ea9c6b3e64a455c55" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_24eba3e45baf41ec9cbfd6dd7649f53e.setContent(html_f0349eea86a6492ea9c6b3e64a455c55);
        

        marker_b7058c0af55c4cc3b5c9ddea92517d81.bindPopup(popup_24eba3e45baf41ec9cbfd6dd7649f53e)
        ;

        
    
    
            marker_b7058c0af55c4cc3b5c9ddea92517d81.bindTooltip(
                `<div>
                     Michigan
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_532f5521dd1a4810927c1d4bd4eca68d = L.marker(
                [46.729553, -94.6859],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_a9b286707ebf4246a4803cbf5a13bf51 = L.popup({"maxWidth": 2650});

        
            var html_ac5c0b128ac44a7ea114be2bffea8a16 = $(`<div id="html_ac5c0b128ac44a7ea114be2bffea8a16" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_a9b286707ebf4246a4803cbf5a13bf51.setContent(html_ac5c0b128ac44a7ea114be2bffea8a16);
        

        marker_532f5521dd1a4810927c1d4bd4eca68d.bindPopup(popup_a9b286707ebf4246a4803cbf5a13bf51)
        ;

        
    
    
            marker_532f5521dd1a4810927c1d4bd4eca68d.bindTooltip(
                `<div>
                     Minnesota
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6102aca4dd584d3c878a149a48088540 = L.marker(
                [37.964253, -91.831833],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_904651e4de8e4bd78236273482435278 = L.popup({"maxWidth": 2650});

        
            var html_6ce5ee258fa8472ca3254f68426c317e = $(`<div id="html_6ce5ee258fa8472ca3254f68426c317e" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_904651e4de8e4bd78236273482435278.setContent(html_6ce5ee258fa8472ca3254f68426c317e);
        

        marker_6102aca4dd584d3c878a149a48088540.bindPopup(popup_904651e4de8e4bd78236273482435278)
        ;

        
    
    
            marker_6102aca4dd584d3c878a149a48088540.bindTooltip(
                `<div>
                     Missouri
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_36fdeb18b3bf466a885cda3835bdbe0b = L.marker(
                [32.354668, -89.398528],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_45db3de604ad484a85154fa080707307 = L.popup({"maxWidth": 2650});

        
            var html_2d9ced88e6de4b66aeeb1144cd936da2 = $(`<div id="html_2d9ced88e6de4b66aeeb1144cd936da2" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_45db3de604ad484a85154fa080707307.setContent(html_2d9ced88e6de4b66aeeb1144cd936da2);
        

        marker_36fdeb18b3bf466a885cda3835bdbe0b.bindPopup(popup_45db3de604ad484a85154fa080707307)
        ;

        
    
    
            marker_36fdeb18b3bf466a885cda3835bdbe0b.bindTooltip(
                `<div>
                     Mississippi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_970722879958421a8ab39f48cf86aa2d = L.marker(
                [46.879682, -110.362566],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_c3c6d0eaeda142feaf93d1b0f3228013 = L.popup({"maxWidth": 2650});

        
            var html_9ca4ca28626d44c480a21e68b3bf56c7 = $(`<div id="html_9ca4ca28626d44c480a21e68b3bf56c7" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_c3c6d0eaeda142feaf93d1b0f3228013.setContent(html_9ca4ca28626d44c480a21e68b3bf56c7);
        

        marker_970722879958421a8ab39f48cf86aa2d.bindPopup(popup_c3c6d0eaeda142feaf93d1b0f3228013)
        ;

        
    
    
            marker_970722879958421a8ab39f48cf86aa2d.bindTooltip(
                `<div>
                     Montana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e4f5e1ea09247838cf33f2c66b3e36a = L.marker(
                [35.759573, -79.0193],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_42b6be53fbb948f6a0ed47014a6ad6f2 = L.popup({"maxWidth": 2650});

        
            var html_5c4ec0c7413f41deb6db7f94be9ba294 = $(`<div id="html_5c4ec0c7413f41deb6db7f94be9ba294" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_42b6be53fbb948f6a0ed47014a6ad6f2.setContent(html_5c4ec0c7413f41deb6db7f94be9ba294);
        

        marker_9e4f5e1ea09247838cf33f2c66b3e36a.bindPopup(popup_42b6be53fbb948f6a0ed47014a6ad6f2)
        ;

        
    
    
            marker_9e4f5e1ea09247838cf33f2c66b3e36a.bindTooltip(
                `<div>
                     North Carolina
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_105a471a0aae45e7bb70fa2b00b165b7 = L.marker(
                [47.551493, -101.002012],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_38970c900cf94fe1b2e6a284334f886b = L.popup({"maxWidth": 2650});

        
            var html_98efa0ebfa60443ab7e8ebbcea3f7d7f = $(`<div id="html_98efa0ebfa60443ab7e8ebbcea3f7d7f" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_38970c900cf94fe1b2e6a284334f886b.setContent(html_98efa0ebfa60443ab7e8ebbcea3f7d7f);
        

        marker_105a471a0aae45e7bb70fa2b00b165b7.bindPopup(popup_38970c900cf94fe1b2e6a284334f886b)
        ;

        
    
    
            marker_105a471a0aae45e7bb70fa2b00b165b7.bindTooltip(
                `<div>
                     North Dakota
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_373faab96279440580b888d054db419e = L.marker(
                [41.492537, -99.901813],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_c310eea3b66446929b15e6c0aab33592 = L.popup({"maxWidth": 2650});

        
            var html_ef7ca5aed40747fea84d0311bd9ac984 = $(`<div id="html_ef7ca5aed40747fea84d0311bd9ac984" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_c310eea3b66446929b15e6c0aab33592.setContent(html_ef7ca5aed40747fea84d0311bd9ac984);
        

        marker_373faab96279440580b888d054db419e.bindPopup(popup_c310eea3b66446929b15e6c0aab33592)
        ;

        
    
    
            marker_373faab96279440580b888d054db419e.bindTooltip(
                `<div>
                     Nebraska
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f554b31fc3f649bd8b37aa59f605ccdf = L.marker(
                [43.193852, -71.572395],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_e7409f85ad734ddc836aafe297112fb8 = L.popup({"maxWidth": 2650});

        
            var html_1f853c6044514f8bad97c16e83bafa73 = $(`<div id="html_1f853c6044514f8bad97c16e83bafa73" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_e7409f85ad734ddc836aafe297112fb8.setContent(html_1f853c6044514f8bad97c16e83bafa73);
        

        marker_f554b31fc3f649bd8b37aa59f605ccdf.bindPopup(popup_e7409f85ad734ddc836aafe297112fb8)
        ;

        
    
    
            marker_f554b31fc3f649bd8b37aa59f605ccdf.bindTooltip(
                `<div>
                     New Hampshire
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f6e8c9f1829941158a15ed754bc830f7 = L.marker(
                [40.058324, -74.405661],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_3076d559afcb4bf087d7c54935d8dfb0 = L.popup({"maxWidth": 2650});

        
            var html_bd7521c4484d4cb2b270c9fdcfa5b973 = $(`<div id="html_bd7521c4484d4cb2b270c9fdcfa5b973" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_3076d559afcb4bf087d7c54935d8dfb0.setContent(html_bd7521c4484d4cb2b270c9fdcfa5b973);
        

        marker_f6e8c9f1829941158a15ed754bc830f7.bindPopup(popup_3076d559afcb4bf087d7c54935d8dfb0)
        ;

        
    
    
            marker_f6e8c9f1829941158a15ed754bc830f7.bindTooltip(
                `<div>
                     New Jersey
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_abff1af0f0fe47c8a936dabeffc9b33e = L.marker(
                [34.97273, -105.032363],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_7c62ec9d16fc475584627e025e316798 = L.popup({"maxWidth": 2650});

        
            var html_b18ff0119b374b6eaddef91fcedc1c41 = $(`<div id="html_b18ff0119b374b6eaddef91fcedc1c41" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_7c62ec9d16fc475584627e025e316798.setContent(html_b18ff0119b374b6eaddef91fcedc1c41);
        

        marker_abff1af0f0fe47c8a936dabeffc9b33e.bindPopup(popup_7c62ec9d16fc475584627e025e316798)
        ;

        
    
    
            marker_abff1af0f0fe47c8a936dabeffc9b33e.bindTooltip(
                `<div>
                     New Mexico
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d2434241b5146ef8fe8396015f35112 = L.marker(
                [38.80261, -116.419389],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_f5826d7a617644f48ea739dd877a14b7 = L.popup({"maxWidth": 2650});

        
            var html_2899bb7555b14694bfb7e772f4c9d713 = $(`<div id="html_2899bb7555b14694bfb7e772f4c9d713" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_f5826d7a617644f48ea739dd877a14b7.setContent(html_2899bb7555b14694bfb7e772f4c9d713);
        

        marker_8d2434241b5146ef8fe8396015f35112.bindPopup(popup_f5826d7a617644f48ea739dd877a14b7)
        ;

        
    
    
            marker_8d2434241b5146ef8fe8396015f35112.bindTooltip(
                `<div>
                     Nevada
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b1f217cfdd4947d9a6d2e70f0473d434 = L.marker(
                [43.299428, -74.217933],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_28ccdcea394144d38780b74a70143396 = L.popup({"maxWidth": 2650});

        
            var html_672049f8bbd94f438a4c90db32e254fe = $(`<div id="html_672049f8bbd94f438a4c90db32e254fe" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_28ccdcea394144d38780b74a70143396.setContent(html_672049f8bbd94f438a4c90db32e254fe);
        

        marker_b1f217cfdd4947d9a6d2e70f0473d434.bindPopup(popup_28ccdcea394144d38780b74a70143396)
        ;

        
    
    
            marker_b1f217cfdd4947d9a6d2e70f0473d434.bindTooltip(
                `<div>
                     New York
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e4cd0681de024688b0db4bfb55c4ebab = L.marker(
                [40.417287, -82.907123],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_edc058a181fe40c49af0dc695da75433 = L.popup({"maxWidth": 2650});

        
            var html_02c230c2245e4b49aed6185f930d0873 = $(`<div id="html_02c230c2245e4b49aed6185f930d0873" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_edc058a181fe40c49af0dc695da75433.setContent(html_02c230c2245e4b49aed6185f930d0873);
        

        marker_e4cd0681de024688b0db4bfb55c4ebab.bindPopup(popup_edc058a181fe40c49af0dc695da75433)
        ;

        
    
    
            marker_e4cd0681de024688b0db4bfb55c4ebab.bindTooltip(
                `<div>
                     Ohio
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c6ace026e65485cbd1303df0eeac764 = L.marker(
                [35.007752, -97.092877],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_a97dfbb8047248ebb6d6c7700b5d2c16 = L.popup({"maxWidth": 2650});

        
            var html_7671723a018f4ce89366903635da19ad = $(`<div id="html_7671723a018f4ce89366903635da19ad" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_a97dfbb8047248ebb6d6c7700b5d2c16.setContent(html_7671723a018f4ce89366903635da19ad);
        

        marker_6c6ace026e65485cbd1303df0eeac764.bindPopup(popup_a97dfbb8047248ebb6d6c7700b5d2c16)
        ;

        
    
    
            marker_6c6ace026e65485cbd1303df0eeac764.bindTooltip(
                `<div>
                     Oklahoma
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_60ca18c933da4418a6c5c5c18b0fcdaf = L.marker(
                [43.804133, -120.554201],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_33f9bf355e4249e5947b8d1eb465ed29 = L.popup({"maxWidth": 2650});

        
            var html_a9e14e02db314c119040cdbae82e9524 = $(`<div id="html_a9e14e02db314c119040cdbae82e9524" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_33f9bf355e4249e5947b8d1eb465ed29.setContent(html_a9e14e02db314c119040cdbae82e9524);
        

        marker_60ca18c933da4418a6c5c5c18b0fcdaf.bindPopup(popup_33f9bf355e4249e5947b8d1eb465ed29)
        ;

        
    
    
            marker_60ca18c933da4418a6c5c5c18b0fcdaf.bindTooltip(
                `<div>
                     Oregon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9216c699398c42978178df62aa1e9af4 = L.marker(
                [41.203322, -77.194525],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_bb6b685ee9804f8fb2af7e1983cd244c = L.popup({"maxWidth": 2650});

        
            var html_95b4e9d65467453fb9706640bca7503b = $(`<div id="html_95b4e9d65467453fb9706640bca7503b" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_bb6b685ee9804f8fb2af7e1983cd244c.setContent(html_95b4e9d65467453fb9706640bca7503b);
        

        marker_9216c699398c42978178df62aa1e9af4.bindPopup(popup_bb6b685ee9804f8fb2af7e1983cd244c)
        ;

        
    
    
            marker_9216c699398c42978178df62aa1e9af4.bindTooltip(
                `<div>
                     Pennsylvania
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aead0dc0d7c04384a33ea485125132bb = L.marker(
                [18.220833, -66.590149],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_0e57814a6e6b47d283cfb846d8f53564 = L.popup({"maxWidth": 2650});

        
            var html_da475ab7c20d44739bcdc8e035e5d9b7 = $(`<div id="html_da475ab7c20d44739bcdc8e035e5d9b7" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_0e57814a6e6b47d283cfb846d8f53564.setContent(html_da475ab7c20d44739bcdc8e035e5d9b7);
        

        marker_aead0dc0d7c04384a33ea485125132bb.bindPopup(popup_0e57814a6e6b47d283cfb846d8f53564)
        ;

        
    
    
            marker_aead0dc0d7c04384a33ea485125132bb.bindTooltip(
                `<div>
                     Puerto Rico
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b64c7ee7a3e744d99e5224ac2f58dc17 = L.marker(
                [41.580095, -71.477429],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_3c7dd07309e948818d7a525ef6cb193b = L.popup({"maxWidth": 2650});

        
            var html_eab5c8145f5f4ad3a7c121bb2d53cf6a = $(`<div id="html_eab5c8145f5f4ad3a7c121bb2d53cf6a" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_3c7dd07309e948818d7a525ef6cb193b.setContent(html_eab5c8145f5f4ad3a7c121bb2d53cf6a);
        

        marker_b64c7ee7a3e744d99e5224ac2f58dc17.bindPopup(popup_3c7dd07309e948818d7a525ef6cb193b)
        ;

        
    
    
            marker_b64c7ee7a3e744d99e5224ac2f58dc17.bindTooltip(
                `<div>
                     Rhode Island
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9c8f3adbb95b45abb78d175e9a934599 = L.marker(
                [33.836081, -81.163725],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_cc522c86e46f459c9f15e33ce7988c80 = L.popup({"maxWidth": 2650});

        
            var html_ae8e99c579484b698a7099329facc222 = $(`<div id="html_ae8e99c579484b698a7099329facc222" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_cc522c86e46f459c9f15e33ce7988c80.setContent(html_ae8e99c579484b698a7099329facc222);
        

        marker_9c8f3adbb95b45abb78d175e9a934599.bindPopup(popup_cc522c86e46f459c9f15e33ce7988c80)
        ;

        
    
    
            marker_9c8f3adbb95b45abb78d175e9a934599.bindTooltip(
                `<div>
                     South Carolina
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a044a0a0e914097ba3086c02346a0d7 = L.marker(
                [43.969515, -99.901813],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_c11b647a9bf9455da19039e4d780cce4 = L.popup({"maxWidth": 2650});

        
            var html_9bf438a469e64e3e8294bad1b751292b = $(`<div id="html_9bf438a469e64e3e8294bad1b751292b" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_c11b647a9bf9455da19039e4d780cce4.setContent(html_9bf438a469e64e3e8294bad1b751292b);
        

        marker_5a044a0a0e914097ba3086c02346a0d7.bindPopup(popup_c11b647a9bf9455da19039e4d780cce4)
        ;

        
    
    
            marker_5a044a0a0e914097ba3086c02346a0d7.bindTooltip(
                `<div>
                     South Dakota
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a579fafaba0e4344a95cc031b8487c6d = L.marker(
                [35.517491, -86.580447],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_300b435e56d84dcf98569640b37d4bf3 = L.popup({"maxWidth": 2650});

        
            var html_254b9866cdf54d73b35af4144caf3822 = $(`<div id="html_254b9866cdf54d73b35af4144caf3822" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_300b435e56d84dcf98569640b37d4bf3.setContent(html_254b9866cdf54d73b35af4144caf3822);
        

        marker_a579fafaba0e4344a95cc031b8487c6d.bindPopup(popup_300b435e56d84dcf98569640b37d4bf3)
        ;

        
    
    
            marker_a579fafaba0e4344a95cc031b8487c6d.bindTooltip(
                `<div>
                     Tennessee
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4ab0195475874c969b4cb1cd37c776c3 = L.marker(
                [31.968599, -99.901813],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_c8b12199ed2f448b83fe42e70b2579d5 = L.popup({"maxWidth": 2650});

        
            var html_53d992eec2e64c8c9865c9e467cea5d5 = $(`<div id="html_53d992eec2e64c8c9865c9e467cea5d5" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_c8b12199ed2f448b83fe42e70b2579d5.setContent(html_53d992eec2e64c8c9865c9e467cea5d5);
        

        marker_4ab0195475874c969b4cb1cd37c776c3.bindPopup(popup_c8b12199ed2f448b83fe42e70b2579d5)
        ;

        
    
    
            marker_4ab0195475874c969b4cb1cd37c776c3.bindTooltip(
                `<div>
                     Texas
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e6af39715e234aa38ff54961dff15acc = L.marker(
                [39.32098, -111.093731],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_65102276e72846ddb430a7ebf3c7db47 = L.popup({"maxWidth": 2650});

        
            var html_fd58344a878f45ea8136433a531cc6ac = $(`<div id="html_fd58344a878f45ea8136433a531cc6ac" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_65102276e72846ddb430a7ebf3c7db47.setContent(html_fd58344a878f45ea8136433a531cc6ac);
        

        marker_e6af39715e234aa38ff54961dff15acc.bindPopup(popup_65102276e72846ddb430a7ebf3c7db47)
        ;

        
    
    
            marker_e6af39715e234aa38ff54961dff15acc.bindTooltip(
                `<div>
                     Utah
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_73a3095938cf492c839b1b167e22e82a = L.marker(
                [37.431573, -78.656894],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_2692cfdff7a24da18869b925529aa92c = L.popup({"maxWidth": 2650});

        
            var html_d8bd59f7438847feba3590284201e259 = $(`<div id="html_d8bd59f7438847feba3590284201e259" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_2692cfdff7a24da18869b925529aa92c.setContent(html_d8bd59f7438847feba3590284201e259);
        

        marker_73a3095938cf492c839b1b167e22e82a.bindPopup(popup_2692cfdff7a24da18869b925529aa92c)
        ;

        
    
    
            marker_73a3095938cf492c839b1b167e22e82a.bindTooltip(
                `<div>
                     Virginia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a634bbbef3934f9e9f69ed09d545330c = L.marker(
                [44.558803, -72.577841],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_2ca4634cde174734bdf8ccbdae64a097 = L.popup({"maxWidth": 2650});

        
            var html_f471ec0677e448ccbcd3f5d64aea23f0 = $(`<div id="html_f471ec0677e448ccbcd3f5d64aea23f0" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_2ca4634cde174734bdf8ccbdae64a097.setContent(html_f471ec0677e448ccbcd3f5d64aea23f0);
        

        marker_a634bbbef3934f9e9f69ed09d545330c.bindPopup(popup_2ca4634cde174734bdf8ccbdae64a097)
        ;

        
    
    
            marker_a634bbbef3934f9e9f69ed09d545330c.bindTooltip(
                `<div>
                     Vermont
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_544d653850af40aabf2adce0033a4534 = L.marker(
                [47.751074, -120.740139],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_060b2da207514cd79008503fc154394a = L.popup({"maxWidth": 2650});

        
            var html_4e4b94cce1f2456799506df790e1852e = $(`<div id="html_4e4b94cce1f2456799506df790e1852e" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_060b2da207514cd79008503fc154394a.setContent(html_4e4b94cce1f2456799506df790e1852e);
        

        marker_544d653850af40aabf2adce0033a4534.bindPopup(popup_060b2da207514cd79008503fc154394a)
        ;

        
    
    
            marker_544d653850af40aabf2adce0033a4534.bindTooltip(
                `<div>
                     Washington
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e179167b4bda457cb196aeb26ce186cf = L.marker(
                [43.78444, -88.787868],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_80a2e18920754538bd4fd48efbf900b4 = L.popup({"maxWidth": 2650});

        
            var html_b58ac6c75bc940808f7e639fcd8379cd = $(`<div id="html_b58ac6c75bc940808f7e639fcd8379cd" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_80a2e18920754538bd4fd48efbf900b4.setContent(html_b58ac6c75bc940808f7e639fcd8379cd);
        

        marker_e179167b4bda457cb196aeb26ce186cf.bindPopup(popup_80a2e18920754538bd4fd48efbf900b4)
        ;

        
    
    
            marker_e179167b4bda457cb196aeb26ce186cf.bindTooltip(
                `<div>
                     Wisconsin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc335bd5746c43968b37ad926190203c = L.marker(
                [38.597626, -80.454903],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_33f9f1d031d440d38408eb71cd8caefa = L.popup({"maxWidth": 2650});

        
            var html_1d50c80d94484e5ea56c1dd26ced7879 = $(`<div id="html_1d50c80d94484e5ea56c1dd26ced7879" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_33f9f1d031d440d38408eb71cd8caefa.setContent(html_1d50c80d94484e5ea56c1dd26ced7879);
        

        marker_fc335bd5746c43968b37ad926190203c.bindPopup(popup_33f9f1d031d440d38408eb71cd8caefa)
        ;

        
    
    
            marker_fc335bd5746c43968b37ad926190203c.bindTooltip(
                `<div>
                     West Virginia
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bac5dc5672e940eda336f9ce7637a8b6 = L.marker(
                [43.075968, -107.290284],
                {}
            ).addTo(map_d3a7160846fa48e3b988dba3d028e478);
        
    
        var popup_7d02eef4766246b59fb38152714c7cb8 = L.popup({"maxWidth": 2650});

        
            var html_0336e21887e24cdc860974540b4c4657 = $(`<div id="html_0336e21887e24cdc860974540b4c4657" style="width: 100.0%; height: 100.0%;"><p>Current: 0</p><p>Projected: 0</div>`)[0];
            popup_7d02eef4766246b59fb38152714c7cb8.setContent(html_0336e21887e24cdc860974540b4c4657);
        

        marker_bac5dc5672e940eda336f9ce7637a8b6.bindPopup(popup_7d02eef4766246b59fb38152714c7cb8)
        ;

        
    
    
            marker_bac5dc5672e940eda336f9ce7637a8b6.bindTooltip(
                `<div>
                     Wyoming
                 </div>`,
                {"sticky": true}
            );
        
</script>