<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d4d14378a1af4e748bda62ca4e0cf82e {
                    position: relative;
                    width: 75.0%;
                    height: 50.0%;
                    left: 12.5%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d4d14378a1af4e748bda62ca4e0cf82e" ></div>
        
</body>
<script>    
    
            var map_d4d14378a1af4e748bda62ca4e0cf82e = L.map(
                "map_d4d14378a1af4e748bda62ca4e0cf82e",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f655975ef7e843abba67cce4e00cd567 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
            var marker_b558b4f71d064c0b84c073103b385c24 = L.marker(
                [42.659829, -73.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_29a6339af77348738b1faddbdd5edf03 = L.popup({"maxWidth": 2650});

        
            var html_e707e8b005d04b0883c654e0e72732bf = $(`<div id="html_e707e8b005d04b0883c654e0e72732bf" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_29a6339af77348738b1faddbdd5edf03.setContent(html_e707e8b005d04b0883c654e0e72732bf);
        

        marker_b558b4f71d064c0b84c073103b385c24.bindPopup(popup_29a6339af77348738b1faddbdd5edf03)
        ;

        
    
    
            marker_b558b4f71d064c0b84c073103b385c24.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b5e7a5f97234151b9c1b97aa9673afc = L.marker(
                [43.659829, -72.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_ec1511417f2742b88bf38b5cd84e2c54 = L.popup({"maxWidth": 2650});

        
            var html_310c113456a84d1eacd461dc4d1aa39d = $(`<div id="html_310c113456a84d1eacd461dc4d1aa39d" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_ec1511417f2742b88bf38b5cd84e2c54.setContent(html_310c113456a84d1eacd461dc4d1aa39d);
        

        marker_6b5e7a5f97234151b9c1b97aa9673afc.bindPopup(popup_ec1511417f2742b88bf38b5cd84e2c54)
        ;

        
    
    
            marker_6b5e7a5f97234151b9c1b97aa9673afc.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec3f50a1bed047528fb64e0f0f69cec0 = L.marker(
                [44.659829, -71.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_fe4880b955b741baa3f6e3facf769563 = L.popup({"maxWidth": 2650});

        
            var html_b89a58fa94ba4bc9b19ec12f87b84aa6 = $(`<div id="html_b89a58fa94ba4bc9b19ec12f87b84aa6" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_fe4880b955b741baa3f6e3facf769563.setContent(html_b89a58fa94ba4bc9b19ec12f87b84aa6);
        

        marker_ec3f50a1bed047528fb64e0f0f69cec0.bindPopup(popup_fe4880b955b741baa3f6e3facf769563)
        ;

        
    
    
            marker_ec3f50a1bed047528fb64e0f0f69cec0.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_73302093c4f4453da565a8752925dbc0 = L.marker(
                [45.659829, -70.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_af1687f7c15d4385875143ebfcae551d = L.popup({"maxWidth": 2650});

        
            var html_426948eab4bc453e9d2ece39d39816bb = $(`<div id="html_426948eab4bc453e9d2ece39d39816bb" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_af1687f7c15d4385875143ebfcae551d.setContent(html_426948eab4bc453e9d2ece39d39816bb);
        

        marker_73302093c4f4453da565a8752925dbc0.bindPopup(popup_af1687f7c15d4385875143ebfcae551d)
        ;

        
    
    
            marker_73302093c4f4453da565a8752925dbc0.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fe8152d5e8de4b3283b5607ab7199bc5 = L.marker(
                [46.659829, -69.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_303e7638e20148188716bfda3c22f777 = L.popup({"maxWidth": 2650});

        
            var html_4fc5103ac9d54ab0b83434e2c1d92e4c = $(`<div id="html_4fc5103ac9d54ab0b83434e2c1d92e4c" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_303e7638e20148188716bfda3c22f777.setContent(html_4fc5103ac9d54ab0b83434e2c1d92e4c);
        

        marker_fe8152d5e8de4b3283b5607ab7199bc5.bindPopup(popup_303e7638e20148188716bfda3c22f777)
        ;

        
    
    
            marker_fe8152d5e8de4b3283b5607ab7199bc5.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f15c9a3e4f22479b95aff0b119ee0e22 = L.marker(
                [47.659829, -68.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_42843bdff45642f8af6f8474ed52d851 = L.popup({"maxWidth": 2650});

        
            var html_dc827a7a983c48448b0b25cd18666ba0 = $(`<div id="html_dc827a7a983c48448b0b25cd18666ba0" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_42843bdff45642f8af6f8474ed52d851.setContent(html_dc827a7a983c48448b0b25cd18666ba0);
        

        marker_f15c9a3e4f22479b95aff0b119ee0e22.bindPopup(popup_42843bdff45642f8af6f8474ed52d851)
        ;

        
    
    
            marker_f15c9a3e4f22479b95aff0b119ee0e22.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f6a6b255a1744b8186ae854b70acbad9 = L.marker(
                [48.659829, -67.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_14a2176ad0f942b0b247cec19b687820 = L.popup({"maxWidth": 2650});

        
            var html_9a58b946d8fa437aaa9f9516be3332c5 = $(`<div id="html_9a58b946d8fa437aaa9f9516be3332c5" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_14a2176ad0f942b0b247cec19b687820.setContent(html_9a58b946d8fa437aaa9f9516be3332c5);
        

        marker_f6a6b255a1744b8186ae854b70acbad9.bindPopup(popup_14a2176ad0f942b0b247cec19b687820)
        ;

        
    
    
            marker_f6a6b255a1744b8186ae854b70acbad9.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bf0b8b0507bb47bfb218ddf7fdd95f39 = L.marker(
                [49.659829, -66.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_f103ebbadfc347df8eac1a53c4f77f96 = L.popup({"maxWidth": 2650});

        
            var html_49a1ba9a39154c84b1df6e5b394edd00 = $(`<div id="html_49a1ba9a39154c84b1df6e5b394edd00" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_f103ebbadfc347df8eac1a53c4f77f96.setContent(html_49a1ba9a39154c84b1df6e5b394edd00);
        

        marker_bf0b8b0507bb47bfb218ddf7fdd95f39.bindPopup(popup_f103ebbadfc347df8eac1a53c4f77f96)
        ;

        
    
    
            marker_bf0b8b0507bb47bfb218ddf7fdd95f39.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4cb8728b72064ed4906a49bd59af40cb = L.marker(
                [50.659829, -65.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_d6c4f4b11060443b84ca653ed7d7d10a = L.popup({"maxWidth": 2650});

        
            var html_7b055372a8da499d88c372205b8886ef = $(`<div id="html_7b055372a8da499d88c372205b8886ef" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_d6c4f4b11060443b84ca653ed7d7d10a.setContent(html_7b055372a8da499d88c372205b8886ef);
        

        marker_4cb8728b72064ed4906a49bd59af40cb.bindPopup(popup_d6c4f4b11060443b84ca653ed7d7d10a)
        ;

        
    
    
            marker_4cb8728b72064ed4906a49bd59af40cb.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_abad25664b9a4822b498941018a1cc1d = L.marker(
                [51.659829, -64.781339],
                {}
            ).addTo(map_d4d14378a1af4e748bda62ca4e0cf82e);
        
    
        var popup_67abd31037594021995cb66836a367d2 = L.popup({"maxWidth": 2650});

        
            var html_3c9bff8169094eaf8fba56fd3adf3b26 = $(`<div id="html_3c9bff8169094eaf8fba56fd3adf3b26" style="width: 100.0%; height: 100.0%;"><p>Current: r</p><p>Projected: 32</div>`)[0];
            popup_67abd31037594021995cb66836a367d2.setContent(html_3c9bff8169094eaf8fba56fd3adf3b26);
        

        marker_abad25664b9a4822b498941018a1cc1d.bindPopup(popup_67abd31037594021995cb66836a367d2)
        ;

        
    
    
            marker_abad25664b9a4822b498941018a1cc1d.bindTooltip(
                `<div>
                     helloworkd
                 </div>`,
                {"sticky": true}
            );
        
</script>